/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 30px 96px;
  font-family: 'Raleway';
  font-weight: 400;
}

.header-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  font-size: 18px;
}

.header-list a {
  color: black;
  text-decoration: none;
}

.header-address {
  line-height: 24px;
  max-width: 240px;
  justify-self: end;
  font-size: 18px;
}

.header-address a {
  color: black;
}

/* Cover */
.cover {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url('../images/cover.jpg') no-repeat center / cover;
  padding: 165px 50px 50px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Raleway';
}

/* Main */
.main-title {
  font-size: 100px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.3em;
  display: grid;
  grid-template-columns: 300px auto;
  width: 100%;
}

.first-word {
  padding-top: 5px;
  padding-left: 0;
}

.second-word {
  padding-top: 140px;
  padding-left: 30px;
}

.third-word {
  padding-top: 35px;
  padding-left: 314px;
  grid-column: 2;
}

.cover-desc {
  display: flex;
  gap: 107px;
  align-items: center;
  padding-top: 114px;
  margin-left: -96px;
}

.cover-desc-text {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  word-spacing: 0.9em;
}

.btn {
  font-family: 'Raleway';
  width: 256px;
  height: 51px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 500;
  font-size: 22px;
}

/* Lots */
.lots {
  font-family: 'Raleway';
  margin-top: 184px;
}

.lots-title {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  padding-left: 64px;
}

.lots-list {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 30px;
}

.first-item .card {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url(../images/card-lot-01.jpg) center / cover;
}

.second-item .card {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url(../images/card-lot-02.jpg) center / cover;
}

.third-item .card {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url(../images/card-lot-03.jpg) center / cover;
}

.card {
  position: relative;
  width: 334px;
  height: 596px;
}

.card-title {
  font-size: 22px;
  color: white;
  text-decoration: underline;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  text-transform: uppercase;
  padding-top: 48px;
  padding-left: 40px;
}

.card-desc {
  position: absolute;
  bottom: 48px;
  left: 40px;
  right: 40px;
  font-size: 20px;
  color: white;
  line-height: 120%;
  margin: 0;
}

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.seemore {
  margin-top: 33px;
  margin-left: 64px;
}

.seemore a {
  color: black;
  font-size: 20px;
}

/* About */
.about {
  display: grid;
  grid-template-columns: 380px 1fr;
  align-items: start;
  padding: 155px 0;
  font-family: 'Raleway';
}

.about-logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about-title {
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: 105px 2px;
}

.about-text {
  font-size: 20px;
  line-height: 24px;
  padding-left: 3px;
}

div p:nth-child(2) {
  margin-top: 21px;
}

/* Footer */
.footer-container {
  font-family: 'Raleway';
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.footer-container .header-address {
  justify-self: start;
  padding-top: 28px;
  padding-left: 51px;
}

.footer-menu {
  padding-top: 29px;
  padding-left: 2px;
}

.footer-list {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.footer-list a {
  color: black;
}

.social-links {
  padding-top: 27px;
  padding-left: 77px;
}

.social-links-icons {
  display: flex;
  gap: 48px;
}
